@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
}
body{
    font-family: 'Nunito', sans-serif;
}

.loraFont{
    font-family: 'Lora', serif;
}
.sideBar{
    margin-left: -100%;
    transition: .3s;
}
.bracelets_bg{
    background: #812E20;
}
.bestSelerList:hover, p:first-child{
    color: red;
}
.bestSelerList .description{
    display: none;
}
.bestSelerList:hover, .description{
    display: flex;
}
.necklacesBannerBg{
    background: rgb(221,202,189);

}
.EaringBannerBg{
    background: rgb(113,45,41);
}
.Ringzbanner{
    background: rgb(245,245,245);
}

@media (max-width:640px){
    .current_span{
        display: none;
    }
}